 .container {
 margin: 0 auto;
 width: 960px;
 }

  body {
 font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,
 sans-serif;
 line-height: 1.6;  }



 h1 {
    background-color: brown;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
     color: aliceblue;

 }
 .eu{
    text-align: right;

 }