header ul {
list-style: none;
display: flex;
justify-content: center;
gap: 50px; 
display: flex;
margin-top: 25px;

}

body {
   background-color: black;
}

p , h1{
    color: aliceblue;
    font-size: 20px;
}


button {
    font-size: 15px;
    padding: 20px;
    border-radius:  25px;
background-color: rgb(14, 255, 14);
box-shadow: 0 0 10px green;
cursor: pointer;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 72px;
margin-top: 100px;

  
}

.eu{ 
    float: right;
    border-radius: 500px; 
    width: 500px;
    border: solid rgb(0, 255, 0);
    box-shadow: 0 0 30px green;
}
a {
    color: aliceblue;
    text-decoration: none;
}
html {
scroll-behavior: smooth;
}

h2{
    color: aliceblue;
}

img{
    width: 150px;
    
     }

.imagens{
    display: flex;
    background-color: rgb(51, 51, 51);
    padding: 50px;
    border-radius: 25px;
   justify-content: center;
   display: inline-block;
   

}

.PJT{
    width: 600px;
    border-radius:25px ;
    margin-top: 80px;
}

.central{
margin-top: 600px;
text-align: center;
justify-content: center;
}

.margin1{
    margin-top: 500px;
}
.margin2{
    margin-top: 500px;
    margin-bottom: 150px;
}
.sobre{
    margin-bottom:200px;
}

.contato{
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
}

.final{
    background-color: rgb(19, 19, 19);
    padding: 50px;
}


.rodape{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: aliceblue;
}